.hiddenAnswer { 
  visibility:hidden;
}

.revealedAnswer { 
  font-weight: bold;
  visibility:visible;
}

.hiddenButton {
  visibility:hidden; 
}

.visibleButton {
  visibility:visible; 
}