body {
  padding: 20px;
  font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
  font-size: 10pt; }

#header {
  background-color: #222222;
  font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
  font-size: 14pt;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  #header a:link {
    color: white; }
  #header a:visited {
    color: white; }
  #header a:hover {
    color: #e6e6e6; }
  #header a:active {
    color: white; }
  #header td {
    padding-left: 15px;
    padding-right: 15px; }
  #header table.body {
    border: none;
    padding: 0;
    border-spacing: 0;
    margin: 0 0;
    width: 100%; }
  #header ul li {
    float: right;
    padding: 0 15px 0 0;
    list-style: none outside none; }

#footer {
  color: white;
  background-color: #222222;
  text-align: center;
  height: 40px;
  font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
  font-size: 14pt;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  #footer a:link {
    color: white; }
  #footer a:visited {
    color: white; }
  #footer a:hover {
    color: #e6e6e6; }
  #footer a:active {
    color: white; }
  #footer ul li {
    float: left;
    padding: 0 15px 0 0;
    list-style: none outside none; }
  #footer .copyright_notice {
    color: gray; }

.link-button {
  outline: 0;
  margin: 0 4px 0 0;
  padding: .4em 1em;
  text-decoration: none !important;
  cursor: pointer;
  position: relative;
  text-align: center;
  zoom: 1; }

.logotext {
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: normal; }

div.mainbody {
  background-color: white;
  margin: 0 auto 0;
  padding: 20px 0 0;
  width: 100%;
  z-index: 0; }

.mainbackground {
  background-color: #f8f8ff;
  width: 80%;
  padding: 20px 0 20px;
  margin: 0 auto 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.contentcontainer {
  width: 90%;
  margin: 0 auto 0; }

.answer {
  color: #551A8B;
  font-weight: bold; }

.clearFloat {
  overflow: auto;
  width: 100%; }

.leftList {
  float: left;
  width: 40%; }

.middleSplit {
  width: 20%; }

.rightList {
  float: right;
  width: 40%; }

.answerLeft {
  background-color: #ece5b6;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.answerRight {
  background-color: #ece5b6;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.answerHover {
  background-color: #e1d78e; }

.leftAnswerSelect {
  background-color: #d7c865; }

.rightAnswerSelect {
  background-color: #d7c865; }

.hiddenAnswer {
  display: none; }

.hiddenButton {
  visibility: hidden; }

.visibleButton {
  visibility: visible; }
